html,body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

#map {
    z-index: 0;
    height: 100%;
}

#title{
    position:absolute;
    top: 30px;
    left: 60px;
    width:400px;
    height: 60px;
    background-color: white;
    z-index: 1;
    text-align=center;
}

#title p{
    margin: 0;
    text-align: center;
    padding-top: 7px;
    font-size: 30px;
    font-weight: bold;
}

#btn{
    position: absolute;
    bottom: 30px;
    left: 60px;
    z-index: 1;
}

button {
    font-size: 15px;
    font-weight: bold;
    margin:5px 5px;
    padding: 10px 10px;
    background-color: darkblue;
    color: #fff;
    border-style: none;
    box-shadow: 2px 2px 3px 1px #666;
}

button:hover {
	background-color: #24d;
	color: #fff;
}

.record{ height:40px; width:100px; }
.record h4 {margin:3px;text-align: center;}
.wr{ float:left; }
.split{ float:right; }
